// -----------------------------------------------------------------------------
// This file contains all styles related to the container component.
// For media breaks look in _variables.scss
// -----------------------------------------------------------------------------

// Mobile 320-768//
.container {
  max-width: $container-max-width;
  margin-left: auto;
  margin-right: auto;
  padding-left: $container-padding-mobile;
  padding-right: $container-padding-mobile;
  width: 100%;

  &--bg-secondary {
    background-color: $color-bg-body-secondary;
  }

  &--bg-tertiary {
    background-color: $color-bg-body-tertiary;
  }

  &--bg-gr-tertiary {
    background: linear-gradient(
      180deg,
      $color-bg-body-tertiary,
      $color-bg-body-tertiary 39.5%,
      $color-bg-body-primary 39.5%,
      $color-bg-body-primary 100%
    );
  }

  &--contact-bg {
    background-image: $contact-bg-img;

    @include retina {
      background-image: $contact-bg-img-2x;
    }

    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
  }


}

.relative {
  overflow-x: hidden;
  position: relative;
  height: 502px;
}

// Tablet 768-1280//
@media screen and (min-width: $tablet) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding-tablet;
    padding-right: $container-padding-tablet;
    width: 100%;
  }

  .relative {
    height: 399px;
  }
}

// Desktop 1280+//
@media screen and (min-width: $desktop) {
  .container {
    margin-left: auto;
    margin-right: auto;
    padding-left: $container-padding-desktop;
    padding-right: $container-padding-desktop;
    width: 100%;
  }

  .relative {
    height: 665px;
  }
}
