/// Main Fonts File
/// Here we import all the fonts files we need for our project.

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500&display=swap");

.typography-styles-headline1 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.2%;
  font-weight: 500;
}

.typography-styles-headline2 {
  font-size: 32px;
  line-height: 40px;
  letter-spacing: -0.2%;
  font-weight: 500;
}

.typography-styles-headline3 {
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0;
  font-weight: 500;
}

.typography-styles-body1 {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  font-weight: 400;
}

.typography-styles-body2 {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0;
  font-weight: 400;
}
